body {
    padding-top: 50px;
}

.control-label {
    font-weight: normal;
}
.control-label.strong {
    font-weight: 700;
}

.no-gutter {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-right-gutter {
    padding-right: 0 !important;
}
.control-label.text-center {
    text-align: center !important;
}

.multiSelect > button {
    width: 100%;
}

.ng-invalid.ng-touched {
    border-color: darkred;
}
ul.nav-justified {
    margin-bottom: 20px !important;
}
