.no-gutter {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.no-right-gutter {
    padding-right: 0px !important;
}
.control-label.text-center {
    text-align: center !important;
}

.multiSelect > button {
    width: 100%;
}
