
<div class="row">
  <div class="page-header text-center">
    <h2>Dashboard<small>&nbsp for internal database jobs only</small></h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <ul class="nav nav-pills nav-justified">
      <li ng-class="{'active': isTab('jobs')}"><a ng-click="changeTabTo('jobs')">Main Jobs</a></li>
      <li ng-class="{'active': isTab('segments')}"><a ng-click="changeTabTo('segments')">Segments</a></li>
    </ul>
  </div>
</div>
<!-- MAIN JOBS-->
<div ng-show="isTab('jobs')" class="row">
  <div class="col-md-offset-2 col-md-8">
    <div ng-repeat="job in job_data" class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right text-info"><i ng-if="job.segmented" class="fa fa-wrench"></i>&nbsp {{ job.status }} &nbsp<span class="badge">{{ job.t_id }}</span></div>
        <h3 class="panel-title">{{ job.name }}</h3>
      </div>
      <div class="panel-body">
        <p class="text-muted">{{ job.description }}</p>
        <div class="row">
          <div class="col-sm-10 col-xs-8">
            <dl class="dl-horizontal">
              <dt ng-if="job.repeat">Repeat type</dt>
              <dd ng-if="job.repeat">{{ job.repeat }}</dd>
              <dt>Job entry date</dt>
              <dd>{{ job.timestamp | date }}</dd>
              <dt ng-if="job.start_date">Execution Start date</dt>
              <dd ng-if="job.start_date">{{ job.start_date | date }}</dd>
              <dt ng-if="job.end_date">Execution Termination</dt>
              <dd ng-if="job.end_date">{{ job.end_date | date }}</dd>
              <dt ng-if="job.time">Time</dt>
              <dd ng-if="job.time">{{job.time | date : 'hh:mm a' }}</dd>
            </dl>
          </div>
          <div class="col-sm-2 col-xs-4">
            <ul class="list-unstyled">
              <li ng-if="job.count">
                <h5><i class="fa-fw fa fa-users fa-lg">&nbsp</i>{{ job.count | number : 0 }}</h5>
              </li>
              <li ng-if="job.file">
                <h5><a ng-href="{{ job.file }}" target="_blank"><i class="fa-fw fa fa-database fa-lg">&nbsp</i>Data</a></h5>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div ng-if="job.status != &quot;Cancel&quot; &amp;&amp; job.status != &quot;Pending&quot;" class="panel-footer text-right">
        <button ng-if="job.segmented &amp;&amp; (job.status == 'Data Loaded' || job.status == 'Done')" ng-click="segment(job)" class="btn btn-sm btn-primary">Segment</button>
        <button ng-click="confirmAndCancelJob(job._id, job.t_id)" ng-if="job.status != 'Done'" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash">&nbsp</span>Cancel Job</button>
      </div>
    </div>
  </div>
</div>
<!-- SEGMENTS-->
<div ng-show="isTab('segments')" class="row">
  <div class="col-md-offset-2 col-md-8">
    <div ng-repeat="job in segment_data" class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right text-info"><span class="badge">{{ job.t_id }}</span></div>
        <h3 class="panel-title">{{ job.name }} :: {{ job.timestamp | date : 'MMM d yyyy, hh:mm a' }}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-8">
            <p class="text-muted">{{ job.description }}</p>
          </div>
          <div class="col-sm-4 text-right">
            <ul ng-if="job.count" class="list-unstyled">
              <li><strong>{{ job.count | number : 0 }}</strong>&nbsp customers</li>
              <li><strong>{{ job.count / job.segments.length | number : 0 }}</strong>&nbsp per segment</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-1 col-xs-10">
            <accordion>
              <accordion-group ng-repeat="seg in job.segments">
                <accordion-heading><span class="text-info"><strong>SEG {{seg.num}} ::&nbsp</strong></span>{{ seg.date | date : 'MMM d yyyy, hh:mm a' }}<span class="pull-right">{{ seg.status }}</span></accordion-heading>
                <dl class="dl-horizontal">
                  <dt>Arabic content</dt>
                  <dd>{{ seg.arabic }}</dd>
                  <dt>Englsih content</dt>
                  <dd>{{ seg.english }}</dd>
                </dl>
              </accordion-group>
            </accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>