<div class="row">
  <div class="well well-lg">
    <h3 class="text-info">Instructions</h3>
    <p>
      Upload a <strong>.csv</strong> file which contains the columns
      <code>Email</code>, <code>Phone</code> and <code>Languages</code>.
      The first line may contain these headers as <em>this line will be ignored.</em>
    </p>
    <p>
      The <code>Languages</code> column may contain a comma separated list of languages
      (one or both of <em>English</em> and <em>Arabic</em>).
    </p>
    <p>
      Please note, the emails and phones are blocked separately so you may skip emails or phones in the records.
      The <code>Languages</code> column is meant for the <code>Phone</code> entries, therefore please make sure
      that whenever a phone entry is present, it also has it's corresponding language selection.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="page-header">
      <h3>Upload your block list</h3>
    </div>
    <form class="form-horizontal" name="blockForm">
      <div class="form-group">
        <label class="control-label col-xs-2"><strong>Upload your csv</strong></label>
        <div class="col-xs-6 well well-sm">
          <span ng-if="!file" class="text-muted">.. please select a file ..</span>
          <span ng-if="blockForm.file.$valid && file && !file.$error">
            Selected file: <strong>{{  file.name }}</strong>, size: <strong>{{ file.size }}</strong> bytes
          </span>
          <span ng-if="!blockForm.file.$valid" class="text-danger">
            The selected file in invalid
          </span>
        </div>

        <div class="col-xs-4">
          <div class="btn btn-primary btn-block form-control"
               ngf-select
               ng-model="file"
               name="file"
               ngf-pattern=".csv">Select file</div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-4">
        <button type="submit"
                class="btn btn-block btn-success"
                ng-disabled="!blockForm.file.$valid || !file || file.$error || $scope.uploading"
                ng-click="submit()">
          Upload</button>
        </div>
        <!--
        <div class="col-sm-8 text-muted" ng-show="message">
          <label class="control-label">{{ message }}</label>
        </div> -->
      </div>
    </form>
  </div>

  <div class="col-md-4" ng-show="report">
    <div class="page-header">
      <h3>Status</h3>
    </div>
    <ul class="list-group" ng-if="report.total_blocked">
      <li class="list-group-item list-group-item-info"><h4>Total items blocked in the system</h4></li>
      <li class="list-group-item"><strong>Emails: </strong>{{ report.total_blocked.email }}</li>
      <li class="list-group-item"><strong>Phone: </strong>{{ report.total_blocked.phone }}</li>
    </ul>
    <ul class="list-group" ng-if="report.blocked">
      <li class="list-group-item list-group-item-success"><h4>Items blocked on last request</h4></li>
      <li class="list-group-item"><strong>Emails: </strong>{{ report.blocked.email }}</li>
      <li class="list-group-item"><strong>Phone: </strong>{{ report.blocked.phone }}</li>
    </ul>
  </div>
</div>
