.row
  .col-md-offset-3.col-md-6
    .panel.panel-default
      .panel-heading
        h4 Login
      .panel-body
        form.form-horizontal
          .form-group
            label.col-sm-4.control-label Username
            .col-sm-8
              input(type='text' name='username' ng-model='data.username').form-control
          .form-group
            label.col-sm-4.control-label Password
            .col-sm-8
              input(type='password' name='password' ng-model='data.password').form-control

          .form-group
            .col-sm-offset-4.col-sm-8
              button(type='submit' ng-click='submit()').btn.btn-primary Sign In
