.row
  .page-header.text-center
    h3 Dashboard
      small Work in progress
.row
  .col-md-offset-2.col-md-8
    .panel.panel-default(ng-repeat="job in data")
      .panel-heading
        .pull-right.text-info
          | {{ job.status }} &nbsp
          span.badge {{ job.t_id }}
        h3.panel-title {{ job.name }}
      .panel-body
        p.text-muted {{ job.description }}
        .row
          .col-sm-10.col-xs-8
            dl.dl-horizontal
              dt(ng-if='job.repeat') Repeat type
              dd(ng-if='job.repeat') {{ job.repeat }}

              dt Job entry date
              dd {{ job.timestamp | date }}

              dt Execution Start date
              dd {{ job.start_date | date }}

              dt(ng-if='job.end_date') Execution Termination
              dd(ng-if='job.end_date') {{ job.end_date | date }}

              dt(ng-if='job.time') Time
              dd(ng-if='job.time') {{job.time | date : 'hh:mm a' }}
          .col-sm-2.col-xs-4
            ul.list-unstyled
              li(ng-if='job.count')
                h5
                  i.fa-fw.fa.fa-users.fa-lg &nbsp
                  | {{ job.count }}
              li(ng-if='job.file')
                h5
                  a(ng-href="{{ job.file }}", target='_blank')
                    i.fa-fw.fa.fa-database.fa-lg &nbsp
                    | Data
      .panel-footer.text-right(ng-if='job.status != "Cancel" && job.status != "Pending"')
        button.btn.btn-sm.btn-danger(
          ng-click="cancelJob(job._id, job.t_id)"
        )
          span.glyphicon.glyphicon-trash &nbsp
          | Cancel Job

      //
        ul.list-group
          li.list-group-item
            strong Repetition type: &nbsp
            | {{ job.repeat }}

