<div class="row">
  <div class="page-header"><h1>Testing page for everything</h1></div>
</div>
<!--
<div class="row">
<form name="fileForm" ng-submit="submit()">
  <div class="btn btn-default"
       ngf-select
       ng-model="file"
       name="file"
       ngf-pattern=".csv">Select file</div>

  <button class="btn btn-primary" type="submit">Submit</button>
  <button class="btn btn-warning" ng-click="openConfirm()">Open modal</button>
</form>
</div>
<div class="row">
  <button class="btn btn-primary" ng-click="openStatic()">Open static modal</button>
</div>
<div class="row">
  <button class="btn btn-success" ng-click="toast()">Toast</button>
</div>
<div class="row">
br
<accordion>
     <accordion-group heading="Static Header, initially expanded">
       This content is straight in the template.
     </accordion-group>
     <accordion-group heading="Static Header, initially expanded">
       This content is straight in the template.
     </accordion-group>
</accordion>
</div>
-->
<div class="row">
  <form class="form-horizontal">
    <wd-hierachy-select
      input-model="hierInput"
      output-model="hierOutput"></wd-hierachy-select>
  </form>
</div>
