<!DOCTYPE html>
<html ng-app="Wadi">
  <head>
    <meta charset="utf-8">
    <title>Wadi SMS tool</title>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angularjs/angular.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/blueimp-md5/js/md5.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/isteven-angular-multiselect/isteven-multi-select.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/constants.js"></script>
    <script src="js/controllers/main.js"></script>
    <script src="js/controllers/form.js"></script>
    <!-- link(href='bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')-->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/lumen/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/angular-ui-select/dist/select.min.css" rel="stylesheet">
    <link href="bower_components/isteven-angular-multiselect/isteven-multi-select.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body ng-controller="MainCtrl">
    <div class="jumbotron">
      <div class="container">
        <h1 class="text-center">Wadi SMS Tool<small>  v1.4-beta</small></h1>
        <!--
        .btn-group(role='group' ng-if='checkLogin()')
          a(
             ng-href='{{sheet_link}}'
             target='_blank'
            ).btn.btn-success
            | Visit the scheduling sheet
          a( ng-href='{{doc_link}}' target='_blank').btn.btn-warning
            | Documentation
        
        -->
      </div>
    </div>
    <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navCollapse" aria-expanded="false" class="navbar-toggle collapsed"><span class="glyphicon glyphicon-menu-hamburger"></span></button><a href="#" class="navbar-brand">Wadi SMS Tool</a>
          </div>
          <div id="navCollapse" ng-if="checkLogin()" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li ng-class="{'active': isState('dashboard')}"><a href="#" ng-click="goTo('dashboard')">Dashboard</a></li>
              <li ng-class="{'active': isState('form')}"><a href="#" ng-click="goTo('form')">New Job</a></li>
              <li ng-class="{'active': isState('block_list')}"><a href="#" ng-click="goTo('block_list')">Block List</a></li>
            </ul>
            <div role="group" class="btn-group navbar-right"><a ng-href="{{sheet_link}}" target="_blank" class="btn btn-success navbar-btn navbar-btn">Scheduling Sheet</a><a ng-href="{{doc_link}}" target="_blank" class="btn btn-warning navbar-btn navbar-btn">Documentation</a></div>
          </div>
        </div>
      </nav>
      <!--
      ul.nav.nav-tabs.nav-justified(ng-if='checkLogin()')
        li.active
          a(href="#") Form
        li
          a(href="#") Blocked list
        li
          a(href="#") Other
      -->
      <ui-view></ui-view>
    </div>
  </body>
</html>