doctype html
html(ng-app='Wadi')
  head
    meta(charset='utf-8')
    title Wadi SMS tool

    - var files1 = ['jquery/dist/jquery.min.js', 'angularjs/angular.min.js', 'bootstrap/dist/js/bootstrap.min.js']
    - var files2 = ['angular-ui-router/release/angular-ui-router.min.js', 'blueimp-md5/js/md5.min.js']
    - var files3 = ['underscore/underscore-min.js', 'moment/moment.js']
    - var files4 = ['angular-ui-select/dist/select.min.js', 'angular-sanitize/angular-sanitize.min.js', 'angular-bootstrap/ui-bootstrap-tpls.min.js']
    - var files = files1.concat(files2, files3, files4)
    each file in files
      script(src='bower_components/'+file)

    each file in ['external', 'app', 'app_form', 'directives']
      script(src='js/'+file+'.js')

    // link(href='bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')

    link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/lumen/bootstrap.min.css", rel="stylesheet")
    link(href='bower_components/angular-ui-select/dist/select.min.css' rel='stylesheet')

  body(ng-controller='MainCtrl')
    .jumbotron
      .container
        h1
          | Wadi SMS Tool
          small   v1.3

        .btn-group(role='group' ng-if='checkLogin()')
          a(
             href='https://docs.google.com/spreadsheets/d/144fuYSOgi8md4n2Ezoj9yNMi6AigoXrkHA9rWIF0EDw/edit#gid=1507780804'
             target='_blank'
            ).btn.btn-success
            | Visit the scheduling sheet
          a( href='http://45.55.72.208/interface/wadi/docs.html' target='_blank').btn.btn-warning
            | Documentation

    .container
      ui-view
