doctype html
html(ng-app='Wadi')
  head
    meta(charset='utf-8')
    title Wadi SMS tool

    - var files1 = ['jquery/dist/jquery.min.js', 'angularjs/angular.min.js', 'bootstrap/dist/js/bootstrap.min.js']
    - var files2 = ['angular-ui-router/release/angular-ui-router.min.js', 'blueimp-md5/js/md5.min.js']
    - var files3 = ['underscore/underscore-min.js', 'moment/moment.js']
    - var files4 = ['angular-ui-select/dist/select.min.js', 'angular-sanitize/angular-sanitize.min.js', 'angular-bootstrap/ui-bootstrap-tpls.min.js']
    - var files = files1.concat(files2, files3, files4)
    each file in files
      script(src='bower_components/'+file)

    each file in ['app', 'directives', 'constants']
      script(src='js/'+file+'.js')
    each file in ['main', 'form']
      script(src='js/controllers/'+file+'.js')

    // link(href='bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')

    link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/lumen/bootstrap.min.css", rel="stylesheet")
    link(href='bower_components/angular-ui-select/dist/select.min.css' rel='stylesheet')
    link(href='css/style.css' rel='stylesheet')

  body(ng-controller='MainCtrl')
    .jumbotron
      .container
        h1
          | Wadi SMS Tool
          small   v1.4-alpha

        .btn-group(role='group' ng-if='checkLogin()')
          a(
             ng-href='{{sheet_link}}'
             target='_blank'
            ).btn.btn-success
            | Visit the scheduling sheet
          a( ng-href='{{doc_link}}' target='_blank').btn.btn-warning
            | Documentation

    .container
      ui-view
