.modal-header
  h3.modal-title {{ title }}
.modal-body
  p {{ message }}
.modal-footer
  .btn-group.btn-group-justified
    a.btn.btn-warning.btn-sm(role='button' ng-click="$close(false)") Cancel
    a.btn.btn-primary.btn-sm(role='button' ng-click="$close(true)") Ok
