<div class="form-group">
  <label class="col-sm-3 col-xs-12 control-label">{{label}}</label>
  <!-- Now 9 more columns, 5 sections -->
  <!-- Sub layout in sm  3 | 1 | 1 | 1 | 3 -->
  <!-- Sub layout in xs  3 | 2 | 2 | 2 | 3 -->
  <div class="col-sm-3 col-xs-3">
        <select ng-model='data.op' class="form-control">
          <option value=""> -- </option>
          <option>{{eq}}</option>
          <option>{{gt}}</option>
          <option>{{lt}}</option>
          <option>{{bw}}</option>
        </select>
  </div>
  <div class="no-gutter col-sm-1 col-xs-2" ng-show="data.op != ''">
        <input type="number" class="form-control" ng-model='data.min' ng-blur="recover()">
  </div>
  <span ng-show="data.op == bw" class="no-gutter col-sm-1 col-xs-2 control-label text-center">and</span>
  <div class="no-gutter col-sm-2 col-xs-2" ng-show="data.op == bw">
    <input type="number" class="form-control" ng-model="data.max" ng-blur="recover()">
  </div>
  <wd-co-type-select model="model.co_type"
                     ng-if="showCoType"
                     class="col-sm-3 col-xs-3"
                     ng-class="{
                      'col-sm-offset-3 col-xs-offset-6': data.op == '',
                      'col-sm-offset-2 col-xs-offset-4': data.op != bw && data.op != ''
                      }">

</wd-co-type-select>
</div>
