<div class="form-group">
  <label class="col-sm-4 control-label">{{label}}</label>
  <div class="col-sm-8">
    <div class="form-group row">
      <div class="col-sm-3">
        <select ng-model='data.op' class="form-control">
          <option value=""> -- </option>
          <option>{{eq}}</option>
          <option>{{gt}}</option>
          <option>{{lt}}</option>
          <option>{{bw}}</option>
        </select>
      </div>
      <div class="col-sm-2" ng-show="data.op != ''">
        <input type="number" class="form-control" ng-model='data.min' ng-blur="recover()">
      </div>
      <div ng-show="data.op == bw">
        <span class="col-sm-1 control-label text-center">and</span>
        <div class="col-sm-2">
          <input type="number" class="form-control" ng-model="data.max" ng-blur="recover()">
        </div>
      </div>
    </div>
  </div>
</div>
