<div class="modal-header">
  <h3 class="modal-title">Form submission</h3>
</div>
<div class="modal-body">
  <p ng-if="result.success">Your form has been successfuly sent and processed. It will take the system a few minutes
  to take your configuration into consideration and create the dataset. Please check the scheduling sheet.</p>
  <div ng-if="!result.success">
    <p>There was a problem with your submission and it was not processed. This is probably a server side issue.
      Please contact the developers.</p>
    <h4>Result data dump</h4>
    <pre> {{result}} </pre>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="close()">Close</button>
</div>
