<form class="form-horizontal" ng-submit="submit()">

  <div class="row">
    <!-- Configuring the campaign -->
    <div class="col-md-4 col-md-push-8">
      <div class="page-header">
        <h3 class="text-center">Configure Campaign</h3>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">SMS content</div>
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label col-sm-2">Arabic</label>
            <div class="col-sm-10">
              <input type="text" dir="rtl" class='form-control' name="Arabic" ng-model="campaign.text.arabic"
                     ng-disabled="selectedSingle.language && selectedSingle.language != 'Arabic'" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">English</label>
            <div class="col-sm-10">
              <input type="text" class='form-control' name="English" ng-model="campaign.text.english"
                     ng-disabled="selectedSingle.language && selectedSingle.language != 'English'" required>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Execution date time (Riyadh timezone)</div>
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label col-sm-2">Date Time</label>
            <div class="col-sm-10">
              <!--<input type="text" class="form-control" ng-model="campaign.date" placeholder="mm/dd/yyyy"> -->
              <input type="datetime-local" class="form-control" ng-model="campaign.datetime" required>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Configuring the target consumer -->
    <div class="col-md-8 col-md-pull-4">
      <div class="page-header">
        <h3 class="text-center">Configure Target consumer</h3>
      </div>
      <div class="alert alert-info text-center" ng-if="loading">Building your form... </div>

      <div class="form-group" ng-repeat="(operation, config) in multi">
        <label class="control-label col-sm-4">{{config.name}}</label>
        <div class="col-sm-8">
          <ui-select multiple ng-model="selectedMulti[operation]" title="{{config.name}}">
            <ui-select-match placeholder="Select {{config.name}}">{{$item}}</ui-select-match>
            <ui-select-choices repeat="opt in config.values | filter:$select.search">
              {{opt}}
            </ui-select-choices>
          </ui-select>
        </div>
      </div>

      <div class="form-group" ng-repeat="(operation, config) in single">
        <label class="control-label col-sm-4">{{config.name}}</label>
        <div class="col-sm-8">
          <ui-select ng-model="selectedSingle[operation]" title="{{config.name}}">
            <ui-select-match allow-clear placeholder="Select {{config.name}}">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="opt in config.values | filter:$select.search">
              {{opt}}
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <wd-range-input model="selectedRange[operation]" label='config.name' ng-repeat="(operation, config) in range"></wd-range-input>

      <div class="panel panel-default" ng-show="false">
        <div class="panel-body">
          {{selectedMulti}}
          {{selectedSingle}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-4">
      <a class="btn btn-default btn-lg btn-block" ng-click="reset()">Reset</a>    <!-- Because a button messes up -->
    </div>
    <div class="col-sm-4">
      <button type='submit' class="btn btn-success btn-lg btn-block" ng-disabled="submitting">{{ submitting ? "submitting...": "Submit" }}</button>
    </div>
  </div>
</form>
