<form class="form-horizontal" ng-submit="submit()">

  <!-- Page Header and name configuration --->
  <div class="row">
    <div class="page-header">
      <h3 class="text-center">New Campaign</h3>
    </div>
    <div class="col-md-10">
      <div class="form-group">
        <label class="control-label col-sm-2"><strong>Name</strong></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model="misc.name">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2"><strong>Description</strong></label>
        <div class="col-sm-10">
          <textarea class="form-control" ng-model="misc.description"></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group-lg">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="misc.debug">
            <strong>Debugging Mode</strong><br><small>will not execute campaign at all, no entry in sheet</small>
          </label>
        </div>

      </div>
    </div>
  </div>

  <!-- Essential Form -->
  <div class="row">

    <!-- Configuring the campaign -->
    <div class="col-md-4 col-md-push-8">
      <div class="page-header">
        <h3 class="text-center">Configure Campaign</h3>
      </div>

      <!-- SMS text -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">SMS content
            <a class="pull-right" href='#' ng-click='testMessage()' ng-if="campaign.text.arabic || campaign.text.english">
              <span class="glyphicon glyphicon-share-alt"></span>&nbsp
              Send test message
            </a>
          </h4>
        </div>
        <div class="panel-body">

          <!-- Arabic Text -->
          <div class="form-group">
            <label class="control-label col-sm-2">Arabic</label>
            <div class="col-sm-10">
              <div class="input-group">
                <input type="text" dir="rtl" class='form-control' name="Arabic" ng-model="campaign.text.arabic"
                       ng-disabled="selectedSingle.language.value && selectedSingle.language.value != 'Arabic'" required>
                <div class="input-group-addon">{{ campaign.text.arabic.length }}</div>
              </div>
            </div>
          </div>

          <!-- English Text -->
          <div class="form-group">
            <label class="control-label col-sm-2">English</label>
            <div class="col-sm-10">
              <div class="input-group">
                <input type="text" class='form-control' name="English" ng-model="campaign.text.english"
                       ng-disabled="selectedSingle.language.value && selectedSingle.language.value != 'English'" required>
                <div class="input-group-addon">{{ campaign.text.english.length }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Execution Date time -->
      <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">Execution date time (Riyadh timezone)</h4></div>
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label col-sm-4">Date Time</label>
            <div class="col-sm-8">
              <!--<input type="text" class="form-control" ng-model="campaign.date" placeholder="mm/dd/yyyy"> -->
              <input type="datetime-local" class="form-control" ng-model="campaign.datetime" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-4">Campaign Repeat</label>
            <div class="col-sm-8">
              <select class="form-control"
                      ng-model="campaign.repeat"
                      ng-options="rep for rep in config.repeat">
              </select>
            </div>
          </div>
        </div>
        <div class="panel-footer" ng-show="campaign.datetime || campaign.repeat == 'Immediately'">
          {{ getMessage() }}
        </div>
      </div>

      <div class="panel panel-warning" ng-show="misc.debug">
        <div class="panel-heading">Debugging Console</div>
        <div class="panel-body">
          <pre>{{ campaign | json }}</pre>
        </div>
      </div>
    </div>

    <!-- Configuring the target consumer -->
    <div class="col-md-8 col-md-pull-4">
      <div class="page-header">
        <h3 class="text-center">Configure Target consumer</h3>
      </div>
      <div class="alert alert-info text-center" ng-if="loading">Building your form... </div>
      <wd-select
          input-model="config"
          output-model="selectedMulti[operation]"
          single-select="false"
          ng-repeat="(operation, config) in multi"></wd-select>

      <wd-select
          input-model="config"
          output-model="selectedSingle[operation]"
          single-select="true"
          ng-repeat="(operation, config) in single"></wd-select>

      <wd-range-input ng-repeat="(operation, config) in range"
        model="selectedRange[operation]"
        show-co-type="range[operation].co_type == 'both'"
        label='config.name'></wd-range-input>

      <div class="panel panel-default" ng-show="false">
        <div class="panel-body">
          {{selectedMulti}}
          {{selectedSingle}}
        </div>
      </div>
    </div>
  </div>

  <!-- The submission buttons and all -->
  <div class="row">
    <div class="col-sm-offset-2 col-sm-4 col-xs-6">
      <a class="btn btn-default btn-block" ng-click="reset()">Reset</a>    <!-- Because a button messes up -->
    </div>
    <div class="col-sm-4 col-xs-6">
      <button type='submit' class="btn btn-success btn-block" ng-disabled="submitting">{{ submitting ? "submitting...": "Submit" }}</button>
    </div>
  </div>
</form>
